language: node_js
node_js:
  - 5.5.0
before_install:
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install glob
  - npm run repoSetup
script:
  - npm run production
  - npm test
after_success:
  - grunt coveralls
  - git config --global user.email "mikemellor11@hotmail.com"
  - git config --global user.name "Mike Mellor"
  - .travis/push.sh