{{#if this}}
<div class="ut-table full ut-bg3 ut-paddingPercent ut-borderBox ut-paddingTopLarge ut-paddingBottomLarge">
    <div class="ut-tableCell ut-mobileCell ut-noWrap ut-paddingRightLarge">
        <h3 class="ut-noMargin">{{{this.text}}}</h3>
    </div>
    {{#each this.list}}
        <div class="ut-tableCell ut-mobileCell ut-noWrap {{#unless @last}}ut-paddingRightLarge{{/unless}} {{#if @last}}ut-maxWidth{{/if}}">
            <a href="{{../link}}.{{this.type}}" target="_blank" class="gih-{{this.icon}} js_{{this.type}}" id="{{../id}}{{this.type}}">
                {{> icon name=(concat a="file-" b=this.icon)}}
                <h4 class="ut-noMargin ut-inlineBlock ut-vertAlignCenter externalLink">{{{this.text}}}</h4>
            </a>
        </div>
    {{/each}}
</div>
{{/if}}