<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{{@root.attributes.title}}}</title>
<script type="text/javascript" src="js/crucial.js"></script>
<noscript><link href="svg/icons.fallback.css" rel="stylesheet"></noscript>
<link rel="stylesheet" href="css/general.css">
<!-- @@Live_Reload -->
<script type="text/javascript">
    grunticon(["svg/icons.data.svg.css", "svg/icons.data.png.css", "svg/icons.fallback.css"], grunticon.svgLoadedCallback);
</script>