<header>
    <div class="ut-bg1">
        <div class="container ut-z">
            <div class="innerContainer ut-table ut-minHeight ut-paddingTop ut-paddingBottom">
                <div class="ut-tableCell ut-maxWidth">
                    <h1 class="ut-inlineBlock ut-marginBottom ut-paddingRightLarge">{{{@root.global.title}}}</h1>
                    <h3 class="ut-inlineBlock ut-marginTop ut-paddingRightLarge ut-lightFont">{{{@root.global.subtitle}}}</h3>
                </div>
                <div class="ut-tableCell">
                    <a href="{{{@root.global.logo1.url}}}" class="ut-block" id="headerLogo">
                        {{#if @root.global.logo1.embed}}
                            <img class="ut-bgNone logoIconEmbed ut-block" src="media/{{@root.global.logo1.link}}">
                        {{else}}
                            <div class="icon-{{@root.global.logo1.link}} logoIcon"></div>
                        {{/if}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>