<form class="food">
    <ul class="js-food">
        <li class="ut-hide">
            <label class="js-label"></label>
            <input class="js-input" type="number">
        </li>
    </ul>
    <button class="button js-random">Random meal plan</button>
    <button type="submit" class="button">Save</button>
</form>