<h2>Macros</h2>
<ul class="js-macros">
	<li class="ut-hide">
		<span class="js-title"></span>: 
		<span class="js-calories"></span> - (
		<span class="js-gda"></span> / 
		<span class="js-aim"></span> ) - (
		<span class="js-lower"></span> - 
		<span class="js-upper"></span> )
	</li>
</ul>