<ul class="js-sidemenu sidemenu">
    <li class="ut-hide">
        <h2 class="js-title"></h2>
        <ul class="js-exercises">
            <li>
                <input class="js-input group" type="checkbox">
                <label class="js-label"></label>
            </li>
        </ul>
    </li>
</ul>