<div class="js-workout">
    <div>
        <h3 class="js-title"></h3>

        <form
        	class="
                js-config
                grid
                grid--halfs
            "
    	>
            <div>
                <label>Sets</label>
                <select class="js-sets"></select>

                <label>Peak</label>
                <select class="js-peak"></select>

                <label>Start percent</label>
                <select class="js-startPercent"></select>

                <label>End percent</label>
                <select class="js-endPercent"></select>

                <label>Max</label>
                <select class="js-max"></select>
            </div>
            <div>
                <label>Increase</label>
                <select class="js-increase"></select>

                <label>Reps</label>
                <select class="js-reps"></select>

                <label>Inc interval</label>
                <select class="js-incInterval"></select>

                <label>Equipment weight</label>
                <select class="js-equipmentWeight"></select>
            </div>
        </form>
        
        <div class="
            grid
            grid--halfs
        ">
            <div>
                <h3>Last max</h3>
                <p class="js-lastMax"></p>

                <h3>Volume</h3>
                <p class="js-volume"></p>

                <h3>Increase session</h3>
                <p class="js-readyForIncrease"></p>

                <h3>Max session</h3>
                <p class="js-maxSession"></p>

                <h3>Sets done</h3>
                <p class="js-currentSet"></p>

                <h3>Sets left</h3>
                <p class="js-remainingSet"></p>
            </div>
            <div>
                <h3>Last</h3>
                <p class="js-last"></p>

                <h3>Target</h3>
                <p class="js-target"></p>

                <h3>Weights split</h3>
                <p class="js-weightSplit"></p>

                <h3>Next</h3>
                <p class="js-next"></p>
            </div>
        </div>

        <form
        	class="js-submit"
    	>
            <label>Weight</label>
            <select class="js-actualWeight"></select>

            <label>Reps</label>
            <select class="js-actualReps"></select>

            <button type="submit" class="button">Set done</button>
        </form>
    </div>
</div>