.ut-table{
    display: table;
    width: 100%;
}

.ut-tableChildren{
    display: table;
    width: 100%;

    & > *{
        @extend .ut-tableCell;
    }
}

.ut-tableChildrenRows{
    display: table;
    width: 100%;

    & > *{
        @extend .ut-tableRow;
    }
}

.ut-tableFixed{
    table-layout: fixed;
}

.ut-tableRow{
    display: table-row;
}

.ut-tableCell{
    display: table-cell !important;
    vertical-align: middle;
}

.ut-fullWidth{
    width: 100%;
}

.ut-fullHeight{
    height: 100%;
}

.ut-minHeight{
    min-height: 100%;
}

.ut-tableSpacing{
    border-collapse: separate;
    border-spacing: $spacing 0;
    width: calc(100% + #{$spacing * 2});
    margin-left: -#{$spacing} !important;
}

.ut-clearList{
    list-style: none !important;
    padding: 0 !important;
    
    li{
        display: inline-block !important;
    }
}

.ut-clearListOnly{
    list-style: none !important;
    padding: 0 !important;
}

.ut-noPadding{
	padding: 0;
}

.ut-padding{
    padding: $spacing !important;
}

.ut-paddingRight{
	padding-right: $spacing !important;
}

.ut-paddingLeft{
    padding-left: $spacing !important;
}

.ut-paddingBottom{
    padding-bottom: $spacing;
}

.ut-paddingTop{
    padding-top: $spacing;
}

.ut-noMargin{
    margin: 0 !important;
}

.ut-marginTopLarge{
    margin-top: $spacing * 2 !important;
}

.ut-marginTop{
    margin-top: $spacing !important;
}

.ut-marginRight{
    margin-right: $spacing !important;
}

.ut-marginLeft{
    margin-left: $spacing !important;
}

.ut-marginLeftLarge{
    margin-left: $spacing * 2 !important;
}

.ut-marginBottom{
    margin-bottom: $spacing !important;
}

.ut-marginBottomLarge{
    margin-bottom: $spacing * 2 !important;
}

.ut-vertAlignTop{
	vertical-align: top !important;
}

.ut-blockCenter{
    margin: 0 auto;
}

.ut-vertAlignCenter{
    vertical-align: middle;
}

.ut-textAlignRight{
    text-align: right;
}

.ut-textAlignCenter{
    text-align: center;
}

.ut-textAlignLeft{
    text-align: left;
}

.ut-bgNone{
    background: transparent;
}

.ut-bg1{
    background: $color1;
}

.ut-bg2{
    background: $color2;
}

.ut-bg3{
    background: $color3;
}

.ut-bg4{
    background: $color4;
}

.ut-bg5{
    background: $color5;
}

.ut-bg6{
    background: $color6;
}

.ut-noWrap{
    white-space: nowrap;
}

.ut-hide{
    display: none !important;
}

.ut-inlineBlock{
    display: inline-block;
}

.ut-inline{
    display: inline;
}

.ut-block{
    display: block;
}

.ut-borderBox{
    box-sizing: border-box;
}

.ut-borderBottom{
    border-bottom: 1px solid transparentize($color4, 0.5);
}

.ut-borderRight{
    border-right: 1px solid transparentize($color4, 0.5);
}

.ut-borderLeft{
    border-left: 1px solid transparentize($color4, 0.5);
}

.ut-borderTop{
    border-top: 1px solid transparentize($color4, 0.5);
}

.ut-iconSize{
    width: $iconSize;
    height: $iconSize;
    min-width: $iconSize;
}

.ut-highlight{
    color: $color1;
}

.ut-highlight--alt{
    color: $color2;
}

.ut-color--reverse{
    color: $color0;

    .icon svg{
        fill: $color0;
    }
}

.ut-relative{
    position: relative;
}

.ut-newContext{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.ut-overflowHidden{
    overflow: hidden;
}

.ut-capital{
    text-transform: capitalize;
}

@include breakpoint(max-width $mobileMax){
    .ut-desktopOnly{
        display: none;
    }

    .ut-mobileFull{
        display: block !important;
        width: 100% !important;
    }

    .ut-mobileFullChildren{
        & > *{
            display: block !important;
            width: 100% !important;
            margin-top: $spacing;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.ut-fontLight{
    font-weight: lighter;
}

.ut-fontSmall{
    font-size: 0.5em;
}

.ut-rotate90{
    transform: rotate(90deg);
}

.ut-rotate180{
    transform: rotate(180deg);
}

.ut-rotate270{
    transform: rotate(270deg);
}

.ut-overflowY{
    overflow-y: scroll;
}

.ut-uppercase{
    text-transform: uppercase;
}

.ut-borderRadius{
    border-radius: $borderRadius;
}