$color1 : #2C404D; // Dark Blue
$color2 : #334B59; // Lighter Blue
$color3 : #FFFFFF; // White
$color4 : #333333; // Dark Gray

$spacing : 15px;
$borderRadius : 2px;

$shadeLow : 10%;
$shadeMed : 25%;

$gridCol: 12;
$innerPad: 0;
$gutterSize: 0.175;
$calcInnerCol: $gridCol - ($innerPad * 2);

$iconSize : 40px;

$mobileMax : 767px;

$normalize-vertical-rhythm: true;