$color0 : white;
$color1 : red;
$color2 : blue;
$color3 : green;
$color4 : orange;

$spacing : 10px;
$borderRadius : 10px;

$shadeLow : 10%;
$shadeMed : 25%;

$gridCol: 12;
$innerPad: 0;
$gutterSize: 0.175;
$calcInnerCol: $gridCol - ($innerPad * 2);

$iconSize : 48px;

$mobileMax : 767px;

$normalize-vertical-rhythm: true;