@import "breakpoint";
@import "normalize";

@import "lab-ui/_mixins";
@import "_mixins";

@import "lab-ui/_variables";
@import "_variables";

@import "lab-ui/_defaults";
@import "_defaults";

@import "lab-ui/_animations";
@import "_animations";

@include normalize();

#svgSprite {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}

@import "lab-ui/_grid";
@import "lab-ui/_typography";
@import "lab-ui/_icon";
@import "lab-ui/_flex.scss";
@import "lab-ui/_card.scss";
@import "lab-ui/_icon.scss";
@import "lab-ui/_form.scss";
@import "lab-ui/_button.scss";

@import "lab-ui/_utilities";

@import "@fishawack/lab-d3/_Build/sass/components/_chart";

/* Lab Ui Overwrites */
@import "components/_card.scss";
@import "components/_form.scss";
@import "components/_chart.scss";

/* Custom Components */
@import "components/_sidemenu.scss";

.ut-hide{
	display: none;
}

.ut-highlight{
	color: red;
}

.highlight{
	&.active{
		color: $colorWarn;
	}

	&.deactive{
		color: $colorBad;
	}
}

.shopping{
	position: relative;

	& > ul{
		position: absolute;
		background-color: darken($color0, 10%);
		top: 100%;
		z-index: 1;
		pointer-events: none;
		display: none;
	}

	&:hover{
		& > ul{
			display: block;
		}
	}
}