@import "susy";
@import "breakpoint";
@import "normalize";

@import "_variables";
@import "_mixins";

@include normalize();

@import "_utilities";

@import "components/_button";
@import "components/_icon";
@import "components/_animation";
@import "components/_header";
@import "components/_typography";
@import "components/_grid";
@import "components/_switch";
@import "components/_chart";
@import "components/_callout";
@import "components/_radioCheck";
@import "components/_notification";
@import "components/_banner";

body{
	background-color: $color4;
}

main{
	background-color: $color0;
	background-image: resolve('background.svg');
	background-size: 500px;
}

#svgSprite{
    display: none;
}

svg{
    @extend .ut-newContext;
}

.gravitar{
	border-radius: 50%;
	width: 100px;
	transition: width 0.4s;
}

.divider{
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: #{$spacing * 3} 0 1em 0;
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 1px solid transparentize($color1, 0.5);
}

.siteStatus{
	width: 100%;
	text-align: center;

	.icon{
		@extend .ut-blockCenter;
	}

	tr{
		border-top: 1px solid transparentize($color5, 0.9);

		*:first-child{
			text-align: left;
		}
	}

	tr:first-child{
		border: none;

		th{
			padding-top: $spacing;
		}
	}

	td, th{
		padding: $spacing #{$spacing * 0};

		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
		}
	}

	th[scope='rowgroup']{
		font-size: 1.5em;
		padding-top: $spacing * 3;
	}
}

.async{
	position: absolute;
	top: $spacing * 0.5;
	left: $spacing * 0.5;

	& > div{
		position: absolute;
	}
}