@import "susy";
@import "breakpoint";
@import "normalize";

@import "_variables";

@include normalize();

@import "_utilities";

@import "components/_button";
@import "components/_icon";
@import "components/_animation";
@import "components/_header";
@import "components/_typography";
@import "components/_grid";
@import "components/_switch";

#svgSprite{
    display: none;
}

svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}