.icon-__fishawack-logo-mono-color1 {background-image: url('png/__fishawack-logo-mono-color1.png');background-repeat: no-repeat;width: 250px;height: 55px;}

.icon-__fishawack-logo-mono-color3 {background-image: url('png/__fishawack-logo-mono-color3.png');background-repeat: no-repeat;width: 250px;height: 55px;}

.icon-__flag-color3 {background-image: url('png/__flag-color3.png');background-repeat: no-repeat;width: 11px;height: 21px;}

.owl-prev:hover .icon-__left-sml-color3,.icon-__left-sml-color1 {background-image: url('png/__left-sml-color1.png');background-repeat: no-repeat;width: 8px;height: 12px;}

.icon-__left-sml-color3 {background-image: url('png/__left-sml-color3.png');background-repeat: no-repeat;width: 8px;height: 12px;}

.owl-next:hover .icon-__right-sml-color3,.icon-__right-sml-color1 {background-image: url('png/__right-sml-color1.png');background-repeat: no-repeat;width: 8px;height: 12px;}

.icon-__right-sml-color3 {background-image: url('png/__right-sml-color3.png');background-repeat: no-repeat;width: 8px;height: 12px;}

.icon-down-color3 {background-image: url('png/down-color3.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-down-med-color2 {background-image: url('png/down-med-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-fullscreen-color2 {background-image: url('png/fullscreen-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-layout-lrg-half-color2 {background-image: url('png/layout-lrg-half-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-layout-lrg-s-color2 {background-image: url('png/layout-lrg-s-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-layout-lrg-v-color2 {background-image: url('png/layout-lrg-v-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-layout-sml-half-color2 {background-image: url('png/layout-sml-half-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-layout-sml-s-color2 {background-image: url('png/layout-sml-s-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-layout-sml-v-color2 {background-image: url('png/layout-sml-v-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-left-med-color2 {background-image: url('png/left-med-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-pause-color2 {background-image: url('png/pause-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-play-color2 {background-image: url('png/play-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-quality-hi-half-color2 {background-image: url('png/quality-hi-half-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-quality-lo-half-color2 {background-image: url('png/quality-lo-half-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-quality-md-half-color2 {background-image: url('png/quality-md-half-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-right-med-color2 {background-image: url('png/right-med-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-settings-half-color2 {background-image: url('png/settings-half-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-sound-off-color2 {background-image: url('png/sound-off-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-sound-on-color2 {background-image: url('png/sound-on-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-subtitles-color2 {background-image: url('png/subtitles-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-times-color3:hover,.icon-times-color1 {background-image: url('png/times-color1.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-times-color3 {background-image: url('png/times-color3.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-up-med-color2 {background-image: url('png/up-med-color2.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-up-sml-color3 {background-image: url('png/up-sml-color3.png');background-repeat: no-repeat;width: 88px;height: 88px;}

.icon-video-c-color1 {background-image: url('png/video-c-color1.png');background-repeat: no-repeat;width: 88px;height: 88px;}

