/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Set default font family to sans-serif.
     * 2. Prevent iOS and IE text size adjust after device orientation change,
     *    without disabling user zoom.
     */
html {
  font-size: 100%;
  line-height: 1.5em;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
     * Remove default margin.
     */
body {
  margin: 0;
}

/* HTML5 display definitions
       ========================================================================== */
/**
     * Correct `block` display not defined for any HTML5 element in IE 8/9.
     * Correct `block` display not defined for `details` or `summary` in IE 10/11
     * and Firefox.
     * Correct `block` display not defined for `main` in IE 11.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
     * 1. Correct `inline-block` display not defined in IE 8/9.
     * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
     */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Prevent modern browsers from displaying `audio` without controls.
     * Remove excess height in iOS 5 devices.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
       * Address `[hidden]` styling not present in IE 8/9/10.
       */
[hidden] {
  display: none;
}

/**
     * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
     */
template {
  display: none;
}

/* Links
       ========================================================================== */
/**
       * Remove the gray background color from active links in IE 10.
       */
a {
  background-color: transparent;
}

/**
     * Improve readability of focused elements when they are also in an
     * active/hover state.
     */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
       ========================================================================== */
/**
     * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
     */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
     * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
     */
b,
strong {
  font-weight: bold;
}

/**
     * Address styling not present in Safari and Chrome.
     */
dfn {
  font-style: italic;
}

/**
     * Address variable `h1` font-size and margin within `section` and `article`
     * contexts in Firefox 4+, Safari, and Chrome.
     */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 1em 0;
}

h3 {
  font-size: 1.17em;
  line-height: 1.2820512821em;
  margin: 1.2820512821em 0;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0;
}

h5 {
  font-size: 0.83em;
  line-height: 1.8072289157em;
  margin: 1.8072289157em 0;
}

h6 {
  font-size: 0.67em;
  line-height: 2.2388059701em;
  margin: 2.2388059701em 0;
}

/**
       * Address styling not present in IE 8/9.
       */
mark {
  background: #ff0;
  color: #000;
}

/**
     * Address inconsistent and variable font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` affecting `line-height` in all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
       ========================================================================== */
/**
       * Remove border when inside `a` element in IE 8/9/10.
       */
img {
  border: 0;
}

/**
     * Correct overflow not hidden in IE 9/10/11.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
       ========================================================================== */
/**
       * Address margins set differently in IE 6/7.
       */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/**
       * Turn off margins on nested lists.
       */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
       * Address paddings set differently in IE 6/7.
       */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
blockquote {
  margin: 1.5em 40px;
}

/**
       * Address margin not present in IE 8/9 and Safari.
       */
figure {
  margin: 1.5em 40px;
}

/**
     * Address differences between Firefox and other browsers.
     */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
p,
pre {
  margin: 1.5em 0;
}

/**
     * Contain overflow in all browsers.
     */
pre {
  overflow: auto;
}

/**
     * Address odd `em`-unit font size rendering in all browsers.
     */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
       ========================================================================== */
/**
     * Known limitation: by default, Chrome and Safari on OS X allow very limited
     * styling of `select`, unless a `border` property is set.
     */
/**
     * 1. Correct color not being inherited.
     *    Known issue: affects color of disabled elements.
     * 2. Correct font properties not being inherited.
     * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
     * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 5. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
     * Address `overflow` set to `hidden` in IE 8/9/10/11.
     */
button {
  overflow: visible;
}

/**
     * Address inconsistent `text-transform` inheritance for `button` and `select`.
     * All other form control elements do not inherit `text-transform` values.
     * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
     * Correct `select` style inheritance in Firefox.
     */
button,
select {
  text-transform: none;
}

/**
     * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
     *    and `video` controls.
     * 2. Correct inability to style clickable `input` types in iOS.
     * 3. Improve usability and consistency of cursor style between image-type
     *    `input` and others.
     * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
     *    Known issue: inner spacing remains in IE 6.
     */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
     * Re-set default cursor for disabled elements.
     */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
     * Remove inner padding and border in Firefox 4+.
     */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
     * Address Firefox 4+ setting `line-height` on `input` using `!important` in
     * the UA stylesheet.
     */
input {
  line-height: normal;
}

/**
       * It's recommended that you don't attempt to style these elements.
       * Firefox's implementation doesn't respect box-sizing, padding, or width.
       *
       * 1. Address box sizing set to `content-box` in IE 8/9/10.
       * 2. Remove excess padding in IE 8/9/10.
       * 3. Remove excess padding in IE 7.
       *    Known issue: excess padding remains in IE 6.
       */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Fix the cursor style for Chrome's increment/decrement buttons. For certain
     * `font-size` values of the `input`, it causes the cursor style of the
     * decrement button to change from `default` to `text`.
     */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
     * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
     */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
       * Remove inner padding and search cancel button in Safari and Chrome on OS X.
       * Safari (but not Chrome) clips the cancel button when the search input has
       * padding (and `textfield` appearance).
       */
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * Define consistent border, margin, and padding.
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
     * 1. Correct `color` not being inherited in IE 8/9/10/11.
     * 2. Remove padding so people aren't caught out if they zero out fieldsets.
     * 3. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Remove default vertical scrollbar in IE 8/9/10/11.
     */
textarea {
  overflow: auto;
}

/**
     * Don't inherit the `font-weight` (applied by a rule above).
     * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
     */
optgroup {
  font-weight: bold;
}

/* Tables
       ========================================================================== */
/**
     * Remove most spacing between table cells.
     */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.ut-table {
  display: table;
  width: 100%;
}

.ut-tableChildren {
  display: table;
  width: 100%;
}

.ut-tableChildrenRows {
  display: table;
  width: 100%;
}

.ut-tableFixed {
  table-layout: fixed;
}

.ut-tableRow, .ut-tableChildrenRows > * {
  display: table-row;
}

.ut-tableCell, .ut-tableChildren > * {
  display: table-cell !important;
  vertical-align: middle;
}

.ut-fullWidth {
  width: 100%;
}

.ut-fullHeight {
  height: 100%;
}

.ut-minHeight {
  min-height: 100%;
}

.ut-tableSpacing {
  border-collapse: separate;
  border-spacing: 10px 0;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  margin-left: -10px !important;
}

.ut-clearList {
  list-style: none !important;
  padding: 0 !important;
}

.ut-clearList li {
  display: inline-block !important;
}

.ut-clearListOnly {
  list-style: none !important;
  padding: 0 !important;
}

.ut-noPadding {
  padding: 0;
}

.ut-padding, .callout {
  padding: 10px !important;
}

.ut-paddingRight {
  padding-right: 10px !important;
}

.ut-paddingLeft {
  padding-left: 10px !important;
}

.ut-paddingBottom {
  padding-bottom: 10px;
}

.ut-paddingTop {
  padding-top: 10px;
}

.ut-noMargin {
  margin: 0 !important;
}

.ut-marginTopLarge {
  margin-top: 20px !important;
}

.ut-marginTop {
  margin-top: 10px !important;
}

.ut-marginRight {
  margin-right: 10px !important;
}

.ut-marginLeft {
  margin-left: 10px !important;
}

.ut-marginLeftLarge {
  margin-left: 20px !important;
}

.ut-marginBottom {
  margin-bottom: 10px !important;
}

.ut-marginBottomLarge {
  margin-bottom: 20px !important;
}

.ut-vertAlignTop {
  vertical-align: top !important;
}

.ut-blockCenter {
  margin: 0 auto;
}

.ut-vertAlignCenter {
  vertical-align: middle;
}

.ut-textAlignRight {
  text-align: right;
}

.ut-textAlignCenter, .callout {
  text-align: center;
}

.ut-textAlignLeft {
  text-align: left;
}

.ut-bgNone {
  background: transparent;
}

.ut-bg1, .callout {
  background: #FF6F4F;
}

.ut-bg2 {
  background: #FFCC73;
}

.ut-bg3 {
  background: #FFF4C8;
}

.ut-bg4, .callout--alt {
  background: #FFAA78;
}

.ut-bg5 {
  background: gray;
}

.ut-bg6, .callout--goal {
  background: #86E958;
}

.ut-noWrap {
  white-space: nowrap;
}

.ut-hide {
  display: none !important;
}

.ut-inlineBlock {
  display: inline-block;
}

.ut-inline {
  display: inline;
}

.ut-block {
  display: block;
}

.ut-borderBox, .callout {
  box-sizing: border-box;
}

.ut-borderBottom {
  border-bottom: 1px solid rgba(255, 170, 120, 0.5);
}

.ut-borderRight {
  border-right: 1px solid rgba(255, 170, 120, 0.5);
}

.ut-borderLeft {
  border-left: 1px solid rgba(255, 170, 120, 0.5);
}

.ut-borderTop {
  border-top: 1px solid rgba(255, 170, 120, 0.5);
}

.ut-iconSize {
  width: 48px;
  height: 48px;
  min-width: 48px;
}

.ut-highlight {
  color: #FF6F4F;
}

.ut-highlight--alt {
  color: #FFCC73;
}

.ut-color--reverse, .callout {
  color: white;
}

.ut-color--reverse .icon svg, .callout .icon svg {
  fill: white;
}

.ut-relative {
  position: relative;
}

.ut-newContext, svg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ut-overflowHidden {
  overflow: hidden;
}

.ut-overflowAuto {
  overflow: auto;
}

.ut-capital {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .ut-desktopOnly {
    display: none;
  }
  .ut-mobileFull {
    display: block !important;
    width: 100% !important;
  }
  .ut-mobileFullChildren > * {
    display: block !important;
    width: 100% !important;
    margin-top: 10px;
  }
  .ut-mobileFullChildren > *:first-child {
    margin-top: 0;
  }
}

.ut-fontLight {
  font-weight: lighter;
}

.ut-fontSmall {
  font-size: 0.5em;
}

.ut-fontLarge {
  font-size: 1.25em;
  line-height: 1.25em;
}

.ut-rotate90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ut-rotate180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ut-rotate270 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.ut-overflowY {
  overflow-y: scroll;
}

.ut-uppercase {
  text-transform: uppercase;
}

.ut-borderRadius, .callout {
  border-radius: 10px;
}

.button--clear {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
}

.button {
  @extends .button--clear;
  padding: 10px 20px;
  background: #FFCC73;
  cursor: pointer;
  border: 1px solid #FFF4C8;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffb940;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
          transform: scaleX(0.7);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.button:hover:before, .button:focus:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.button--alt {
  background: #FFF4C8;
  border: none;
  border-radius: 200px;
  padding: 10px 15px;
}

.button--alt:before {
  background-color: #ffea95;
  border-radius: 200px;
}

.button--full {
  width: 100%;
}

.button--off {
  opacity: 0.5;
}

.icon {
  width: 48px !important;
  padding-bottom: 48px !important;
  position: relative;
}

.icon svg {
  fill: #FFF4C8;
}

.icon--animation {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.icon--active svg {
  fill: #FFCC73 !important;
}

.icon--active .icon--cog {
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}

.icon--large {
  width: 72px !important;
  padding-bottom: 72px !important;
}

.icon--small {
  width: 24px !important;
  padding-bottom: 24px !important;
}

.icon--padSmall svg {
  padding: 12px;
  width: 24px;
  height: 24px;
}

.icon--altCol svg {
  fill: #FF6F4F;
}

header {
  background: #FF6F4F;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.innerContainer {
  max-width: 1024px;
  margin: 0 auto;
}

.full, .half, .third, .twoThirds, .quarter, .threeQuarters, .fifth, .twoFifths, .threeFifths, .fourFifths, .sixth, .fiveSixths {
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  margin-right: 1.2567324955%;
}

.full {
  width: 100%;
  margin-right: 0;
}

.half {
  width: 49.3716337522%;
}

.third {
  width: 32.4955116697%;
}

.twoThirds {
  width: 66.2477558348%;
}

.quarter {
  width: 24.0574506284%;
}

.threeQuarters {
  width: 74.6858168761%;
}

.fifth {
  width: 18.9946140036%;
}

.twoFifths {
  width: 39.2459605027%;
}

.threeFifths {
  width: 59.4973070018%;
}

.fourFifths {
  width: 79.7486535009%;
}

.sixth {
  width: 15.6193895871%;
}

.fiveSixths {
  width: 83.1238779174%;
}

.last {
  margin-right: 0;
}

.toggleWrapper {
  height: 30px;
}

.toggleWrapper input {
  display: none;
}

.toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  display: inline-block;
}

.toggle:focus + label:after {
  box-shadow: inset 0 0 0px 1px #FFF4C8 !important;
}

.toggle + label {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #FFF4C8;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
  background: #FFCC73;
  vertical-align: middle;
}

.toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 26px;
  width: 26px;
  top: 2px;
  left: 2px;
  border-radius: 15px;
  background: #FFAA78;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle:checked + label:before {
  width: 50px;
}

.toggle:checked + label:after {
  left: 22px;
}

.fillFade {
  fill: #ff451c;
  color: #ff451c;
}

.reverseColor {
  fill: white;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.axis line, .axis path {
  stroke: rgba(128, 128, 128, 0.25);
  fill: none;
}

.marker, .line__stroke {
  stroke-width: 2px;
  stroke: #FF6F4F;
}

.fill1, .fill1-stacked1 {
  fill: #47acb1;
  color: #47acb1;
}

.fill1-stacked2 {
  fill: #68bec3;
  color: #68bec3;
}

.fill1-stacked3 {
  fill: #8dced1;
  color: #8dced1;
}

.fill1-stacked4 {
  fill: #b1dee0;
  color: #b1dee0;
}

.fill1-stroked {
  stroke: #47ACB1;
  color: #47ACB1;
  fill: none;
}

.fill2, .fill2-stacked1 {
  fill: #f26522;
  color: #f26522;
}

.fill2-stacked2 {
  fill: #f58752;
  color: #f58752;
}

.fill2-stacked3 {
  fill: #f8a882;
  color: #f8a882;
}

.fill2-stacked4 {
  fill: #fbcab3;
  color: #fbcab3;
}

.fill2-stroked {
  stroke: #F26522;
  color: #F26522;
  fill: none;
}

.fill3, .fill3-stacked1 {
  fill: #f9aa7b;
  color: #f9aa7b;
}

.fill3-stacked2 {
  fill: #fbc9ac;
  color: #fbc9ac;
}

.fill3-stacked3 {
  fill: #fde9dd;
  color: #fde9dd;
}

.fill3-stacked4 {
  fill: white;
  color: white;
}

.fill3-stroked {
  stroke: #F9AA7B;
  color: #F9AA7B;
  fill: none;
}

.fill4, .fill4-stacked1 {
  fill: #a5a8aa;
  color: #a5a8aa;
}

.fill4-stacked2 {
  fill: #bfc1c3;
  color: #bfc1c3;
}

.fill4-stacked3 {
  fill: #d9dbdc;
  color: #d9dbdc;
}

.fill4-stacked4 {
  fill: #f4f4f4;
  color: #f4f4f4;
}

.fill4-stroked {
  stroke: #A5A8AA;
  color: #A5A8AA;
  fill: none;
}

.fill5, .fill5-stacked1 {
  fill: #676766;
  color: #676766;
}

.fill5-stacked2 {
  fill: #81817f;
  color: #81817f;
}

.fill5-stacked3 {
  fill: #9a9a99;
  color: #9a9a99;
}

.fill5-stacked4 {
  fill: #b3b3b3;
  color: #b3b3b3;
}

.fill5-stroked {
  stroke: #676766;
  color: #676766;
  fill: none;
}

.fill6, .fill6-stacked1 {
  fill: #add5d7;
  color: #add5d7;
}

.fill6-stacked2 {
  fill: #cfe7e8;
  color: #cfe7e8;
}

.fill6-stacked3 {
  fill: #f2f8f8;
  color: #f2f8f8;
}

.fill6-stacked4 {
  fill: white;
  color: white;
}

.fill6-stroked {
  stroke: #ADD5D7;
  color: #ADD5D7;
  fill: none;
}

.fill7, .fill7-stacked1 {
  fill: #ffa4af;
  color: #ffa4af;
}

.fill7-stacked2 {
  fill: #ffd7dc;
  color: #ffd7dc;
}

.fill7-stacked3 {
  fill: white;
  color: white;
}

.fill7-stacked4 {
  fill: white;
  color: white;
}

.fill7-stroked {
  stroke: #FFA4AF;
  color: #FFA4AF;
  fill: none;
}

.fill8, .fill8-stacked1 {
  fill: #ffcd34;
  color: #ffcd34;
}

.fill8-stacked2 {
  fill: #ffda67;
  color: #ffda67;
}

.fill8-stacked3 {
  fill: #ffe69a;
  color: #ffe69a;
}

.fill8-stacked4 {
  fill: #fff3cd;
  color: #fff3cd;
}

.fill8-stroked {
  stroke: #FFCD34;
  color: #FFCD34;
  fill: none;
}

.delta {
  position: relative;
  padding-bottom: 56.25%;
}

.key__list {
  margin: 0;
}

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.radio-custom-label, .checkbox-custom-label {
  display: table;
}

.radio-custom-label > *, .checkbox-custom-label > * {
  display: table-cell;
}

.radio-custom:focus ~ .radio-custom-label .radio-custom-icon:before {
  border-color: #FF6F4F;
}

.checkbox-custom:focus ~ .checkbox-custom-label .checkbox-custom-icon:before {
  border-color: #FF6F4F;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom-label .checkbox-custom-icon:before, .radio-custom-label .radio-custom-icon:before {
  content: '';
  background: white;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #FFCC73;
}

.checkbox-custom:checked ~ .checkbox-custom-label .checkbox-custom-icon:before {
  background: #FF6F4F;
  box-shadow: inset 0px 0px 0px 3px white;
  border-radius: 5px;
}

.radio-custom ~ .radio-custom-label .radio-custom-icon:before {
  border-radius: 50%;
}

.radio-custom:checked ~ .radio-custom-label .radio-custom-icon:before {
  background: #FF6F4F;
  box-shadow: inset 0px 0px 0px 3px white;
}

body {
  background: #FFAA78;
}

main {
  background: white;
}

#svgSprite {
  display: none;
}

.gravitar {
  border-radius: 50%;
}
