{{> header}}

<div class="innerContainer">
	<h1>{{attributes.title}}</h1>

	<p>All the weights listed do <strong>not</strong> include the bar (most people add 20kg? to account for the bar but the bars at my gym are different sizes/thickness so it's easier to just write it without).</p>

	<h2>Chest</h2>
	<div class="delta">
		<svg class="chart" id="chart0"></svg>
	</div>

	<h2>Back</h2>
	<div class="delta">
		<svg class="chart" id="chart1"></svg>
	</div>
</div>

{{> footer}}