<div class="ut-bg1">
	<div class="innerContainer ut-padding ut-color--reverse">
		<div class="half">
			<h1>{{global.title}}</h1>
			<p>{{{lorem '2s'}}}</p>
		</div>
		<div class="half last">
			<div class="ut-tableChildren">
				<p class="ut-paddingRight ut-textAlignRight">Mike Mellor - Front end web developer / iOS developer</p>
				<img class="gravitar ut-fullWidth" src="https://s.gravatar.com/avatar/c199be5cfdc1b7b8682712d98c68736a?s=100" alt="my ugly mug">
			</div>
		</div>
	</div>
</div>

<div class="innerContainer ut-padding ut-highlight--reverse">
	<div class="ut-tableChildren ut-tableFixed ut-tableSpacing">
		{{#each index.callouts}}
			{{#with (findObjectInArray value=this in=@root.global.navigation key="url")}}
				{{> callout 
					callout--url=url
					callout--icon=icon
					callout--name=name
					callout--text=text
				}}
			{{/with}}
		{{/each}}
	</div>

	<p>{{lorem '10s'}}</p>

	<div class="third">
		<h2>Latest post</h2>
		<h3>Greatest icon flow ever</h3>
		<p>{{{lorem '5-7s'}}}... <a class="ut-highlight ut-inline" href="./code.html">Read More</a></p>
	</div>

	<div class="third">
		<h2>Latest workout</h2>
		<h1>36kg</h1>
	</div>

	<div>
		<h3>Current site status</h3>
		<img src="https://camo.githubusercontent.com/500e1f543118b424a6007c31122f421f978ec6ca/68747470733a2f2f7472617669732d63692e6f72672f6d696b656d656c6c6f7231312f6772756e742d7376676669742e7376673f6272616e63683d6d6173746572" alt="Build Status" data-canonical-src="https://travis-ci.org/mikemellor11/grunt-svgfit.svg?branch=master" style="max-width:100%;">
	</div>
</div>