<div class="ut-bg1">
	<div class="innerContainer ut-padding ut-color--reverse">
		<div class="half">
			<h1>{{global.title}}</h1>
			<p>{{{lorem '2s'}}}</p>
		</div>
		<div class="half last">
			<div class="ut-tableChildren">
				<p class="ut-paddingRight ut-textAlignRight">Mike Mellor - Front end web developer / iOS developer</p>
				<img class="gravitar ut-fullWidth" src="https://s.gravatar.com/avatar/c199be5cfdc1b7b8682712d98c68736a?s=100" alt="my ugly mug">
			</div>
		</div>
	</div>
</div>

<div class="innerContainer ut-padding ut-highlight--reverse">
	<div class="ut-tableChildren ut-tableFixed ut-tableSpacing">
		{{#each index.callouts}}
			{{#with (findObjectInArray value=this in=@root.global.navigation key="url")}}
				{{> callout 
					callout--url=url
					callout--icon=icon
					callout--name=name
					callout--text=text
				}}
			{{/with}}
		{{/each}}
	</div>

	<p>{{lorem '10s'}}</p>
</div>