.banner{
	text-align: center;
	color: $color0;
	background: $color4;

	%headings{
		color: $color0;
	}

	div > *{
		display: inline-block;
		vertical-align: middle;
		max-width: 400px;
		padding: $spacing $spacing * 2;
		margin: $spacing 0;
		text-align: left;

		&:first-child{
			border-right: 1px solid $color1;
			font-size: 1.5em;
			line-height: 1.5em;
		}
	}
}