/* uncss:ignore start */
.card{
	border-radius: $radius;

	&.card--warn{
		background-color: $colorWarn;
	}

	&.card--good{
		background-color: $colorGood;
	}

	&.card--bad{
		background-color: $colorBad;
	}
}
/* uncss:ignore end */

.card--workout{
	p{
		width: 100%;
		margin: 0;
		text-align: right;
		font-size: 1.75em;
		padding-left: $spacing;
	}
}

.card__header{
	border-bottom: solid 1px $color2;
}