/* uncss:ignore start */
.card{
	color: $color0;

	&.card--warn{
		background-color: $colorWarn;
	}

	&.card--good{
		background-color: $colorGood;
	}

	&.card--bad{
		background-color: $colorBad;
	}
}
/* uncss:ignore end */

.card--workout{
	p{
		width: 100%;
		margin: 0;
		text-align: right;
		font-size: 1.75em;
		padding-left: $spacing;
	}
}