.fillFade{
  fill: darken($color1, $shadeLow);
  color: darken($color1, $shadeLow);
}

.reverseColor{
  fill: $color4;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.axis line, .axis path{
  stroke: $color2;
  fill: none;
}

.marker, .line__stroke{
  stroke-width: 2px;
  stroke: $color3;
}

$colors-list: $color1 $color2 $color3 $color4;

@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    
    @for $j from 1 through 4{
      $base: if($j == 1, '.fill#{$i}, ', '');

      #{$base}.fill#{$i}-stacked#{$j} { 
          fill: lighten($current-color, ($j - 1) * 10);
          color: lighten($current-color, ($j - 1) * 10);
      }
    }

    .fill#{$i}-stroked { 
        stroke: $current-color;
        color: $current-color;
        fill: none;
    }
}

.delta{
  position: relative;
  padding-bottom: 50%;
}