.cssgrid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	grid-column-gap: $spacing;
	grid-row-gap: $spacing;

	& > *:nth-child(1){
		grid-column: span 2;
	}

	& > *:nth-child(2){
		grid-column: span 2;
		grid-row: span 2;
	}

	& > *:nth-child(5){
		grid-column: span 3;
		grid-row: span 2;
	}

	& > *:nth-child(6){
		grid-column: span 1;
		grid-row: span 2;
	}

	@include breakpoint(max-width $tabletMax){
		& > *{
			grid-column: span 4 !important;
			grid-row: span 1 !important;
		}
	}
}