.header{
	width: 100%;
	transition: background 0.4s;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);

	h1{
		transition: all 0.4s;
	}

	&.stuck{
		background: $color0;
		color: $color1;

		h1{
			font-size: 1.5em;
			margin: 0;
		}

		.gravitar{
			width: 50px;
		}
	}
}

.header--real{
	background: $color1;
	color: $color0;
	position: relative;
	z-index: 1;

	&.stuck{
		position: fixed;
	}
}

.header--fake{
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: none;

	&.stuck{
		position: static;
	}
}