.icon{
    width: $iconSize !important;
    padding-bottom: $iconSize !important;
    position: relative;

    svg{
        fill: $color1;
        transition: fill 0.2s;
    }

    &:hover svg{
        fill: $color4;
    }
}

.icon--animation{
    transition: transform 0.2s;
}

.icon--active{
    svg{
        fill: $color2 !important;
    }

    .icon--cog{
        transform: rotate(25deg);
    }
}

.icon--large{
    width: $iconSize * 1.5 !important;
    padding-bottom: $iconSize * 1.5 !important;
}

.icon--small{
    width: $iconSize * 0.5 !important;
    padding-bottom: $iconSize * 0.5 !important;
}

.icon--padSmall{
    svg{
        padding: $iconSize * 0.25;
        width: $iconSize * 0.5;
        height: $iconSize * 0.5;
    }
}

.icon--altCol{
    svg{
        fill: $color1;
    }
}

.icon--spin{
    animation: rotate 1s infinite linear;
}

.icon--done{
    transform: scale(0);
}

.icon--d3{
    width: 25% !important;
    padding-bottom: 25% !important;
    position: absolute;
    top: 50%;
    right: 50%;
    left: auto;
    transform: translate(50%, -50%);
    transition: all 0.4s;

    svg{
        .async--finished &{
            fill: $color1;
            opacity: 1;
        }
        transition: all 0.4s;
        fill: $color5;
        opacity: 0.25;
    }

    .async--finished &{
        top: 10px;
        right: 10px;
        width: 25px !important;
        padding-bottom: 25px !important;
        transform: none;
    }
}

.async--finished{
    .icon--spin{
        animation: scale 0.2s;
        animation-fill-mode: forwards;
    }

    .icon--done{
        animation: scale 0.2s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
}