body{
    font-family: 'Roboto', sans-serif;
    color: $color5;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

.externalLink{
	color: $color1;

	&:hover{
		color: $color4;
	}
}

%headings{
	color: $color5;
}