.ut-hide{
	display: none;
}

.ut-highlight{
	color: red;
}

.highlight{
	&.good{
		color: $colorGood;
	}

	&.active, &.warn{
		color: $colorWarn;
	}

	&.deactive, &.bad{
		color: $colorBad;
	}
}

/* uncss:ignore */
.ut-hideKey{
	.chart--key{
		display: none;
	}
}