.icon-__fishawack-logo-mono-color1 {background-image: url('png/__fishawack-logo-mono-color1.png');background-repeat: no-repeat;}

.icon-__fishawack-logo-mono-color2 {background-image: url('png/__fishawack-logo-mono-color2.png');background-repeat: no-repeat;}

.icon-cancel-iconColor {background-image: url('png/cancel-iconColor.png');background-repeat: no-repeat;}

.button-alt:hover .icon-cancel-iconColorFlip,.icon-cancel-iconColorFlip {background-image: url('png/cancel-iconColorFlip.png');background-repeat: no-repeat;}

.icon-cancel-iconColor:hover,.icon-cancel-iconHover {background-image: url('png/cancel-iconHover.png');background-repeat: no-repeat;}

.icon-cancel-iconColorFlip:hover,.icon-cancel-iconHoverFlip {background-image: url('png/cancel-iconHoverFlip.png');background-repeat: no-repeat;}

.icon-down-open-iconColor {background-image: url('png/down-open-iconColor.png');background-repeat: no-repeat;}

.icon-down-open-iconColorFlip {background-image: url('png/down-open-iconColorFlip.png');background-repeat: no-repeat;}

.icon-down-open-iconColor:hover,.selectBox:hover .icon-down-open-iconColor,.icon-down-open-iconHover {background-image: url('png/down-open-iconHover.png');background-repeat: no-repeat;}

.icon-down-open-iconColorFlip:hover,.selectBox:hover .icon-down-open-iconColorFlip,.icon-down-open-iconHoverFlip {background-image: url('png/down-open-iconHoverFlip.png');background-repeat: no-repeat;}

.gih-pdf:hover .icon-file-pdf-iconColor,.icon-file-pdf-iconColor {background-image: url('png/file-pdf-iconColor.png');background-repeat: no-repeat;}

.icon-file-pdf-iconColorFlip {background-image: url('png/file-pdf-iconColorFlip.png');background-repeat: no-repeat;}

.icon-file-pdf-iconColor:hover,.icon-file-pdf-iconHover {background-image: url('png/file-pdf-iconHover.png');background-repeat: no-repeat;}

.icon-file-pdf-iconColorFlip:hover,.icon-file-pdf-iconHoverFlip {background-image: url('png/file-pdf-iconHoverFlip.png');background-repeat: no-repeat;}

.gih-word:hover .icon-file-word-iconColor,.icon-file-word-iconColor {background-image: url('png/file-word-iconColor.png');background-repeat: no-repeat;}

.icon-file-word-iconColorFlip {background-image: url('png/file-word-iconColorFlip.png');background-repeat: no-repeat;}

.icon-file-word-iconColor:hover,.icon-file-word-iconHover {background-image: url('png/file-word-iconHover.png');background-repeat: no-repeat;}

.icon-file-word-iconColorFlip:hover,.icon-file-word-iconHoverFlip {background-image: url('png/file-word-iconHoverFlip.png');background-repeat: no-repeat;}

.icon-home-iconColor {background-image: url('png/home-iconColor.png');background-repeat: no-repeat;}

.icon-home-iconColorFlip {background-image: url('png/home-iconColorFlip.png');background-repeat: no-repeat;}

.icon-home-iconColor:hover,.icon-home-iconHover {background-image: url('png/home-iconHover.png');background-repeat: no-repeat;}

.icon-home-iconColorFlip:hover,.icon-home-iconHoverFlip {background-image: url('png/home-iconHoverFlip.png');background-repeat: no-repeat;}

.icon-ok-iconColor {background-image: url('png/ok-iconColor.png');background-repeat: no-repeat;}

.icon-ok-iconColorFlip {background-image: url('png/ok-iconColorFlip.png');background-repeat: no-repeat;}

.icon-ok-iconColor:hover,.icon-ok-iconHover {background-image: url('png/ok-iconHover.png');background-repeat: no-repeat;}

.icon-ok-iconColorFlip:hover,.icon-ok-iconHoverFlip {background-image: url('png/ok-iconHoverFlip.png');background-repeat: no-repeat;}

.button-alt2:hover .icon-reply-iconColor,.icon-reply-iconColor {background-image: url('png/reply-iconColor.png');background-repeat: no-repeat;}

.icon-reply-iconColorFlip {background-image: url('png/reply-iconColorFlip.png');background-repeat: no-repeat;}

.icon-reply-iconColor:hover,.icon-reply-iconHover {background-image: url('png/reply-iconHover.png');background-repeat: no-repeat;}

.icon-reply-iconColorFlip:hover,.icon-reply-iconHoverFlip {background-image: url('png/reply-iconHoverFlip.png');background-repeat: no-repeat;}

.icon-right-open-iconColor {background-image: url('png/right-open-iconColor.png');background-repeat: no-repeat;}

.icon-right-open-iconColorFlip {background-image: url('png/right-open-iconColorFlip.png');background-repeat: no-repeat;}

.icon-right-open-iconColor:hover,.icon-right-open-iconHover {background-image: url('png/right-open-iconHover.png');background-repeat: no-repeat;}

.icon-right-open-iconColorFlip:hover,.icon-right-open-iconHoverFlip {background-image: url('png/right-open-iconHoverFlip.png');background-repeat: no-repeat;}

