.icon, .icon:hover{
    display: inline-block;
    width: #{$iconSize}px;
    height: #{$iconSize}px;
    vertical-align: middle;
    background-position: 50%;
    background-size: 100% 100%;

    .lt-ie9 & {
        -ms-behavior: url($mediaUrl + "backgroundsize.min.htc");
    }
    
    &:first-child{
        margin-right: $spacing;
    }

    &:last-child{
        margin-left: $spacing;
    }
}

.iconSmallest, .iconSmallest:hover{
    width: #{$iconSize * 0.5}px;
    height: #{$iconSize * 0.5}px;
}

.iconSmall, .iconSmall:hover{
    width: #{$iconSize * 0.75}px;
    height: #{$iconSize * 0.75}px;
}

.iconBig, .iconBig:hover{
    width: #{$iconSize * 1.5}px;
    height: #{$iconSize * 1.5}px;
}

.iconBiggest, .iconBiggest:hover{
    width: #{$iconSize * 2}px;
    height: #{$iconSize * 2}px;
}