.logoIcon{
    width: 100px !important;
    height: 80px !important;
    background-size: contain;
    background-position: 50%;

    .lt-ie9 & {
        -ms-behavior: url($mediaUrl + "backgroundsize.min.htc");
    }
}

.logoIconEmbed{
    max-width: 100px;
    max-height: 100px;
    width: auto;
}