@font-face {
    font-family: 'texy';
    src: url($fontUrl + 'texgyreheros-regular-webfont.eot');
    src: url($fontUrl + 'texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontUrl + 'texgyreheros-regular-webfont.woff') format('woff'),
         url($fontUrl + 'texgyreheros-regular-webfont.ttf') format('truetype'),
         url($fontUrl + 'texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texy';
    src: url($fontUrl + 'texgyreheros-bold-webfont.eot');
    src: url($fontUrl + 'texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontUrl + 'texgyreheros-bold-webfont.woff') format('woff'),
         url($fontUrl + 'texgyreheros-bold-webfont.ttf') format('truetype'),
         url($fontUrl + 'texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html{
    color: $color5;
    font-family: 'texy', "Helvetica", "Tahoma", Arial;
}

h4, h5, h6{
    font-weight: normal;
}

h1, h2, h3, h4{
    color: darken($color5, $shadeLow);
}

header h1, header h3{
    color: $color2;
}

a{
    text-decoration: none;
    color: inherit;
}

.injectAnchors a, .externalLink{
    text-decoration: underline;
    color: $color1;

    &:hover{
        color: $color5;
    }
}