<!doctype html>
<html class="no-js loading modern {{target}}" lang="en">

    {{> head}}

    <body>
        {{> svgSprite}}

        {{> header}}

        {{~> @partial-block}}

        {{> footer}}

        {{#if entry}}
            <script type="text/javascript" src="js/{{entry}}.js"></script>
        {{else}}
            <script type="text/javascript" src="js/script.js"></script>
        {{/if}}

        {{> tracking}}
    </body>
</html>