<!doctype html>
<html lang="en">

    {{> head}}

    <body class="ut-bg1">
        {{> svgSprite}}

        <main class="container">
        	{{> (lookup . 'baseInject')}}
    	</main>

        <script type="text/javascript" src="js/script.js"></script>

        <script type="text/javascript">
		</script>
    </body>
</html>