<!doctype html>
<html lang="en">

    {{> head}}

    <body>
        {{> svgSprite}}

        {{> (lookup . 'baseInject')}}

        {{> footer}}

        <script type="text/javascript">
            function baseJS(){
                chartManager.charts = [
                    {{#each index.charts}}
                        {
                            "name": "{{name}}"
                        },
                    {{/each}}
                ];
            }
        </script>

        <script type="text/javascript" src="js/script.js"></script>

        {{> tracking}}
    </body>
</html>