<!doctype html>
<html class="no-js loading modern {{target}}" lang="en">

    {{> head}}

    <body class="
        container
    ">
        {{> svgSprite}}

        {{> header}}

        {{~> @partial-block}}

        {{> footer}}

        <script type="text/javascript" src="js/script.js"></script>

        {{#if script}}
            <script type="text/javascript" src="js/{{script}}.js"></script>
        {{/if}}

        {{> tracking}}
    </body>
</html>