<!doctype html>
<html lang="en">

    {{> head}}

    <body>
        {{> svgSprite}}

        <main class="container">
        	{{> (lookup . 'baseInject')}}
    	</main>

        {{> footer}}

        <script type="text/javascript" src="js/script.js"></script>

        <script type="text/javascript">
            chartManager.charts = [
                {{#each index.charts}}
                    {
                        "name": "{{name}}"
                    },
                {{/each}}
            ];

            chartManager.init();
            chartManager.update();
		</script>
    </body>
</html>