<header class="
	header
">
	<div class="
		ut-tableChildren
		ut-fullWidth
	">
		<h1 class="
			ut-noWrap
			ut-paddingRight
		">
			Code / Gym / Sleep
		</h1>
		<ul class="
			ut-clearList
			ut-fullWidth
		">
			{{#each (array
				(object 
					title="Home"
					url="index"
				)
				(object 
					title="Diet"
					url="diet"
				)
				(object 
					title="Workout"
					url="workout"
				)
			)}}
				<li>
					<a
						class="
							ut-padding
						"
						href="{{url}}.html"
					>
						{{title}}
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
</header>