{{> header header--text=(findObjectInArray object="code" in=@root.global.navigation key="url" getValue="name")}}

<div class="innerContainer ut-padding">
	<h1>{{lookup (findObjectInArray value="code" in=@root.global.navigation key="url") 'name'}}</h1>
</div>