{{> header header--text=(findObjectInArray object="code" in=@root.global.navigation key="url" value="name")}}

{{> banner title="Code" content="Imagine this is a giant hill and im a hermit and you want my knowledge..."}}

<main class="container">
	<div class="innerContainer ut-padding">
		<p class="notification notification--missing">No posts found</p>
	</div>
</main>

<script type="text/javascript">
	function pageJS(){
	}
</script>