{{> header header--text=(findObjectInArray object="gym" in=@root.global.navigation key="url" value="name")}}

{{> banner title="Gym" content="Please don't contact me in regards to any WSM competitions, im busy"}}

<main class="container">
	<div class="innerContainer ut-padding ut-mobileFullChildren">

		<div class="d3__table--week"></div>

		<ul class="d3__list--workouts">
		</ul>

		<div class="twoThirds">
			<div class="delta">
				<svg class="chart"></svg>
			</div>
		</div>

		<div class="third last ut-vertAlignTop">
			<div class="ut-padding ut-marginBottom">
				<select class="full js-chartSelect">
					{{#each index.charts}}
						<option>{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="key">
			</div>
		</div>
	</div>
</main>

<script type="text/javascript">
	function pageJS(){
		chartManager.init(function(){
			var gym = Gym(chartManager.all);
			var chest = Gym(chartManager.chest);

			chartManager.htmlList('.d3__list--workouts', gym.exercise());

			gym.each(function(d, i){
				console.log(d.sets().weight());
			});
		});
        //chartManager.update();
        
		document.querySelector('.js-chartSelect').onchange = function(){
	    	chartManager.chartIndex = this.selectedIndex;
	    	chartManager.update();
	    };
	}
</script>