.ut-table{
    display: table;
    width: 100%;
}

.ut-tableCell{
    display: table-cell !important;
    vertical-align: middle;
}

.ut-maxWidth{
    width: 100%;
}

.ut-maxHeight{
    height: 100%;
}

.ut-tableSpacing{
    border-collapse: separate;
    border-spacing: 1px;
    width: calc(100% + 2px);
    margin-left: -1px !important;
}

.ut-clearList{
    list-style: none;
    padding: 0;
    
    li{
        display: inline-block;
    }
}

.ut-clearListOnly{
    list-style: none;
    padding: 0;
}

.ut-noPadding{
	padding: 0;
}

.ut-padding{
    padding: $spacing;
}

.ut-paddingLarge{
    padding: $spacing * 2;
}

.ut-paddingPercent{
    padding: 5%;
}

.ut-paddingBottomPercent{
    padding-bottom: 5%;
}

.ut-paddingRight{
	padding-right: $spacing;
}

.ut-paddingRightLarge{
    padding-right: $spacing * 2;
}

.ut-paddingLeftLarge{
    padding-left: $spacing * 2;
}

.ut-paddingLeft{
    padding-left: $spacing;
}

.ut-paddingBottom{
    padding-bottom: $spacing;
}

.ut-paddingTop{
    padding-top: $spacing;
}

.ut-paddingBottomLarge{
    padding-bottom: $spacing * 2 !important;
}

.ut-paddingTopLarge{
    padding-top: $spacing * 2;
}

.ut-noMargin{
    margin: 0 !important;
}

.ut-marginTop{
    margin-top: $spacing !important;
}

.ut-marginBottom{
    margin-bottom: $spacing !important;
}

.ut-marginTopLarge{
    margin-top: $spacing * 2;
}

.ut-marginTopSpacing{
    margin-top: $spacing;
}

.ut-marginBottomLarge{
    margin-bottom: $spacing * 2 !important;
}

.ut-vertAlignTop{
	vertical-align: top;
}

.ut-vertAlignCenter{
    vertical-align: middle;
}

.ut-vertAlignBottom{
    vertical-align: bottom;
}

.ut-textAlignRight{
    text-align: right;
}

.ut-textAlignCenter{
    text-align: center;
}

.ut-textAlignLeft{
    text-align: left;
}

.ut-bgNone{
    background: transparent;
}

.ut-bg1{
    background: $color1;
}

.ut-bg2{
    background: $color2;
}

.ut-bg3{
    background: $color3;
}

.ut-material{
    box-shadow: 0px 0px $shadowBlur $shadowColor;
    border-radius: $borderRadius;
    opacity: 0.9;
    filter: alpha(opacity=90);

    .lt-ie9 & {
        border: 1px solid $shadowColor;
    }
}

.ut-noWrap{
    white-space: nowrap;
}

.ut-wrap{
    white-space: normal !important;
}

.ut-hide{
    display: none !important;
}

.ut-inlineBlock{
    display: inline-block !important;
}

.ut-block{
    display: block !important;
}

.ut-noEvents{
    pointer-events: none;
}

.ut-zebra{
    li{
        background: $color2;

        &:nth-child(even){
            background: $color3;
        }
    }
}

.ut-z{
    position: relative;
    z-index: 1;
}

.ut-borderBox{
    box-sizing: border-box;
}

.ut-overflowHidden{
    overflow: hidden;
}

.ut-highlight{
    color: $color1;
}

.ut-lightFont{
    font-weight: lighter;
}

.ut-boldFont{
    font-weight: bolder;
}

.ut-fontCol-alt{
    color: $color6;
}

.ut-borderFrame{
    border: 1px solid $color1;
}

.ut-breakWord{
    word-break: break-word;
}

.ut-capitals{
    text-transform: uppercase;
}

.ut-widthAuto{
    width: auto;
}

.ut-minHeight{
    min-height: 80px;
}

.ut-hoverText:hover{
    color: $color1;
}

.ut-removeFloat{
    float: none !important;
}

.ut-pointer{
    cursor: pointer;
}

@include breakpoint(max-width $mobileMax){
    .ut-mobileCell{
        display: block !important;
        width: 100% !important;
        box-sizing: border-box;
        margin-top: $spacing;
        padding-right: 0 !important;
        padding-left: 0 !important;

        &:first-child{
            margin-top: 0;
        }
    }

    .ut-mobileTextCenter{
        text-align: center !important;
    }

    .ut-mobileFull{
        width: 100%;
    }

    .ut-mobileMarginTop{
        margin-top: $spacing;
    }
}

@include breakpoint(max-width $mobileMax){
    .ut-desktopOnly{
        display: none !important;
    }
}