@import "susy";
@import "breakpoint";
@import "normalize";

@import "_variables";

@include normalize();

@import "_utilities";

@import "components/_grid";
@import "components/_button";
@import "components/_form";
@import "components/_icons";
@import "components/_typography";
@import "components/_logo";
@import "components/_tab";
@import "components/_switch";

body{
	background: $color3;
}

.results{
	border-top: 1px solid $color6;

	li{
		border-bottom: 1px solid $color6;
	}

	a{
		padding: $spacing * 2;
		display: table;

		&:hover{
			color: $color1;
		}
	}

	span{
		display: table-cell;

		&:first-child{
			width: 100%;
			padding-right: $spacing * 2;
		}

		&:last-child{
			white-space: nowrap;
			color: $color6;
		}

		@include breakpoint(max-width $mobileMax){
			display: block !important;
		    width: 100% !important;
		    box-sizing: border-box;
		    margin-top: $spacing;
		    padding-right: 0 !important;
		    padding-left: 0 !important;

		    &:first-child{
		        margin-top: 0;
		    }
		}
	}
}

.injectRemoveMargins *{
	&:first-child{
		margin-top: 0;
	}

	&:last-child{
		margin-bottom: 0;
	}
}

.injectSetInline *{
	display: inline;
}

.js_hideKey{
	display: none;
}

img{
	max-width: 100%;
	height: auto !important;
}