<div class="delta delta--loading">
	{{> icon name="Logo_D3" class="icon--d3"}}
	<div class="async">
		{{> icon name="spin3"
			class="
				icon--small 
				icon--spin
				ut-blockCenter
			"
		}}

		{{> icon name="ok-circle"
			class="
				icon--small 
				icon--done
				ut-blockCenter
			"
		}}
	</div>
	<svg class="chart {{name}}"></svg>
</div>