<footer class="ut-color--reverse ut-textAlignCenter ut-padding">
	<a href="https://github.com/mikemellor11/mikemellor11.github.io/issues">Report issue</a>

	<div class="ut-clearList">
		<li>
			{{> icon name="twitter" class="icon--padSmall"}}
		</li>
		<li>
			{{> icon name="stackoverflow" class="icon--padSmall"}}
		</li>
		<li>
			{{> icon name="github-circled" class="icon--padSmall"}}
		</li>
		<li>
			{{> icon name="linkedin" class="icon--padSmall"}}
		</li>
	</div>
</footer>