<footer class="ut-color--reverse ut-textAlignCenter ut-padding">
	<a href="https://github.com/mikemellor11/mikemellor11.github.io/issues">Report issue</a>

	<ul class="ut-clearList ut-noMargin">
		{{#each global.social}}
			<li>
				<a href="{{url}}">{{> icon name=icon class="icon--padSmall"}}</a>
			</li>
		{{/each}}
	</ul>
</footer>