<header>
	<div class="ut-bg1">
		<div class="innerContainer ut-tableChildren">
			{{#if header--text}}
				<h1 class="ut-fullWidth ut-padding">{{header--text}}</h1>
			{{/if}}
			<h2 class="ut-padding ut-noMargin ut-textAlignRight ut-noWrap">{{global.title}}</h2>
		</div>
	</div>
	<div class="ut-bg4">
		<nav class="innerContainer">
			<ul class="ut-clearList ut-noMargin">
				{{#each global.navigation}}
					<li><a href="./{{url}}.html" class="ut-padding">{{name}}</a></li>
				{{/each}}
			</ul>
		</nav>
	</div>
</header>