<table class="siteStatus">
    <tbody>
	    <tr>
            <th scope="rowgroup">Build status</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Travis CI (<a class="ut-inline externalLink" href="https://travis-ci.org/">Link</a>)</th>
            <td>Passing</td>
        </tr>
        <tr>
            <th scope="row">Circle CI (<a class="ut-inline externalLink" href="https://circleci.com/">Link</a>)</th>
            <td>Passing</td>
        </tr>

        <tr>
            <th scope="rowgroup">Testing</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Coverage</th>
            <td>67%</td>
        </tr>
        <tr>
            <th scope="row">Unit tests (<a class="ut-inline externalLink" href="https://mochajs.org/">Mocha</a>)</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
        <tr>
            <th scope="row">Smoke tests (<a class="ut-inline externalLink" href="http://casperjs.org/">CasperJs</a>)</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>

        <tr>
            <th scope="rowgroup">Browser support</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Chrome</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
        <tr>
            <th scope="row">Firefox</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
        <tr>
            <th scope="row">Opera</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
        <tr>
            <th scope="row">Safari</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
        <tr>
            <th scope="row">&gt;= IE 8</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>

        <tr>
            <th scope="rowgroup">Misc</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Page load speed</th>
            <td>136ms</td>
        </tr>
        <tr>
            <th scope="row">Page weight</th>
            <td>322kb</td>
        </tr>
        <tr>
            <th scope="row">Google SEO score</th>
            <td>86%</td>
        </tr>
        <tr>
            <th scope="row">No javascript fallback</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
        <tr>
            <th scope="row">Mobile breakpoints</th>
            <td>{{> icon name="ok-circle" class="icon--small"}}</td>
        </tr>
    </tbody>
</table>