.wave__controls{
    position: relative;
    z-index: 3;

    & > li{
        display: table-cell;
        background: $color3;
        cursor: pointer;
        vertical-align: middle;
    }

    .noHover{
        cursor: auto;

        &:hover, &:active, &:focus{
            outline: none;
            background: $color3;
        }
    }
}

.wave__overlay{
    position: absolute;
    margin: 0;
    background-color: $color3;
    z-index: 3;
    bottom: 100%;
    padding: 0;
    max-width: 50%;
    min-width: $iconSize + px;
    overflow: hidden;
    z-index: -1;

    li{
        display: block;
    }
}

.wave__overlay--alt{
    top: 100%;
    width: 100%;
    max-width: 100%;
    bottom: auto;
    position: static;
}

.wave__overlay--text{
    max-width: 500px;
    padding: $spacing !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wave__stamps{
    li{
        cursor: pointer;
    }

    & > div:first-child li{
        margin-left: 0;
    }

    & > div:last-child li{
        margin-right: 0;
    }
}

.wave__scrubber, .wave__volume__scrubber{
    width: 100%;
    height: $spacing;
    min-width: 60px;
    position: relative;
}

.wave__scrubber:hover .currentScrub--hover{
    display: inline-block;
}

.wave__progress, .wave__currentVol{
    width: 0%;
    height: 100%;
    cursor: pointer;
}

.wave__currentScrub{
    position: absolute;
    left: 0;
    display: inline-block;
    bottom: 100%;
    margin-bottom: $spacing;
    padding: 0 2px;
    border-radius: 2px;
    background: $color3;
    border: solid 1px $color4;
    display: none;
}

.csstransforms .wave__currentScrub{
    transform: translateX(-50%);
}

.no-csstransforms .wave__currentScrub{
    margin-left: -25px;
    width: 44px;
    text-align: center;
}

.wave__currentScrub:after,
.wave__currentScrub:before {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
}

.wave__currentScrub:after {
  border-top: 6px solid $color3;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: -6px;
}

.wave__currentScrub:before {
  border-top: 8px solid $color4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
}

.screenBlock{
    width: 100%;
    height: 100%;
    background: white;
    filter: alpha(opacity=0); opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}