 .loginBox{
    max-width: 60%;
    margin: 0 auto;
    padding: $spacing;

    @include breakpoint(max-width $mobileMax){
    	min-width: 90%;

		.button{
			width: 100%;
		}
    }
}

.form{
	text-align: left;
	display: inline-block;
	min-width: 40%;
	max-width: 530px;
	width: 100%;

	@include breakpoint(max-width $mobileMax){
		width: 100%;
		max-width: 100%;
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: $color3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: $color3;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: $color3;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: $color3;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px $color2 inset;
}

input[type="Email"], input[type="password"], input[type="text"], input[type="tel"], textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background-color: $color2;
	border: none;
	padding: 0;
	outline: none;
	width: 90%;

	&:last-child{
		width: 100%;
	}

	&:focus::-webkit-input-placeholder { /* WebKit browsers */
		color: $color1;
	}
	&:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color1;
	}
	&:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color1;
	}
	&:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $color1;
	}
}

.form__group{ 
	margin: $spacing 0;
}

.form__input{
	position: relative;
	background-color: $color2;
	border: 1px solid $color3;
	border-radius: $borderRadius;
	padding: $spacing;
	width: 100%;
	box-sizing: border-box;
	color: $color3;
}

.validation-summary-valid{
	display: none;
}