#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: $color2;
    display: none;
}

.modal{
	width: 600px;
	display: none;

    @include breakpoint(max-width 600px){
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        margin: 0 !important;
        box-sizing: border-box !important;
        position: absolute !important;
    }
}

.modal_close{
	top: 0;
	right: 0;
	position: absolute;
    width: $iconSize + px !important;
    height: $iconSize + px !important;

    @extend .ut-backgroundSizeFix;
}