html{
    color: $color2;
    font-family: 'Titillium Web', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    font-weight: 200;
    line-height: 1.5em;
}

h1,h2,h3{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: inherit;
}

@include breakpoint(max-width $mobileMax){
    html{
        font-size: 13px;
    }

    h1{
        font-size: 1.5em;
    }
}