<div class="ut-flipColor ut-paddingTop ut-paddingLeft ut-paddingRight">
	<ul class="wave__flags wave__stamps ut-noMargin ut-clearList">
		{{#each this.timeStamps}}
			<li class="flag" {{#if ../this.duration}}style="left:{{{getFlagPosition (checkStamps this.stamp ../player) ../this.duration}}}%; opacity: 1;"{{/if}}>
				<div class="flag__button stampButton" data-stamp="{{{checkStamps this.stamp ../player}}}"><div class="icon-__flag-color3"></div></div>
				<p class="flag__label ut-bg3 ut-noMargin ut-noWrap" {{#if ../this.duration}}style="{{{getLabelPosition (checkStamps this.stamp ../player) ../this.duration}}}:100%;"{{/if}}>{{{this.label}}}</p>
			</li>
		{{/each}}
	</ul>
</div>