<ul class="ut-table ut-noPadding ut-noMargin ut-tableSpacing wave__controls">
    <li class="wave__play"><div class="button button--control"><div class="ut-iconSize icon-play-color2"></div></div></li>
    <li class="wave__mute"><div class="button button--control"><div class="ut-iconSize icon-sound-on-color2"></div></div></li>
    <li class="wave__volume ut-paddingRight ut-paddingLeft">
        <div class="wave__volume__scrubber ut-bg4">
            <div class="wave__currentVol ut-bg3"></div>
        </div>
    </li>
    {{#if this.timeStamps.length}}
    <li class="wave__chapters ut-noWrap">
        <div class="button button--control ut-table">
            <div class="ut-tableCell ut-maxCell ut-textAlignLeft ut-paddingRight ut-paddingLeft ut-safariTransitionFix ut-desktopOnly">Chapter</div>
            <div class="ut-tableCell"><div class="ut-iconSize icon-up-med-color2 ut-spinIcon"></div></div>
        </div>
        <ol class="wave__stamps wave__overlay ut-hide">
            {{#each this.timeStamps}}
                <li>
                    <div class="button button--control wave__overlay--text stampButton" data-stamp="{{{this.stamp}}}">{{{this.label}}}</div>
                </li>
            {{/each}}
        </ol>
    </li>
    {{/if}}
    <li class="wave__currentTime ut-maxCell ut-textAlignRight ut-paddingRight ut-paddingLeft noHover"><span>00:00&nbsp;</span><span>|&nbsp;00:00</span></li>
    {{#if this.captions}}<li class="wave__captions"><div class="button button--control"><div class="ut-iconSize icon-subtitles-color2"></div></div></li>{{/if}}
    <li class="wave__ratio"><div class="button button--control"><div class="ut-iconSize icon-layout-sml-v-color2"></div></div>
        <ul class="wave__overlay ut-hide">
            <li data-ratio="small"><div class="button button--control"><div class="ut-iconSize icon-layout-sml-s-color2"></div></div></li>
            <li data-ratio="medium"><div class="button button--control"><div class="ut-iconSize icon-layout-sml-half-color2"></div></div></li>
            <li data-ratio="large"><div class="button button--control"><div class="ut-iconSize icon-layout-sml-v-color2"></div></div></li>
        </ul>
    </li>
    <li class="wave__quality"><div class="button button--control"><div class="ut-iconSize icon-settings-half-color2"></div></div>
        <ul class="wave__overlay ut-hide">
            {{#if this.videoUrl.high}}<li data-quality="{{this.videoUrl.high}}"><div class="button button--control"><div class="ut-iconSize icon-quality-hi-half-color2"></div></div></li>{{/if}}
            {{#if this.videoUrl.medium}}<li data-quality="{{this.videoUrl.medium}}"><div class="button button--control"><div class="ut-iconSize icon-quality-md-half-color2"></div></div></li>{{/if}}
            {{#if this.videoUrl.low}}<li data-quality="{{this.videoUrl.low}}"><div class="button button--control"><div class="ut-iconSize icon-quality-lo-half-color2"></div></div></li>{{/if}}
        </ul>
    </li>
    <li class="wave__fullscreen"><div class="button button--control"><div class="ut-iconSize icon-fullscreen-color2"></div></div></li>
</ul>