<ul class="ut-clearListOnly ut-noMargin ut-paddingTop">
    <li class="wave__speakers ut-table">
        <button class="ut-table button button--control">
            <div class="ut-tableCell ut-maxCell ut-textAlignLeft ut-paddingRight ut-paddingLeft ut-safariTransitionFix speaker__title">Faculty</div>
            <div class="ut-tableCell"><div class="ut-iconSize icon-down-med-color2 ut-spinIcon"></div></div>
        </button>
        <ul class="wave__overlay wave__overlay--alt ut-hide">
        {{#each this.speakers}}
            <li>
                <a class="ut-table ut-bg2 ut-borderBox button button--control ut-wrap" href="#speaker{{@index}}" rel="leanModal">
                    <span class="ut-tableCell ut-paddingRight ut-removePaddingMobile"><img class="ut-thumbnail" src="media/{{this.image}}"\></span>
                    <span class="ut-tableCell ut-maxCell ut-paddingRight ut-removePaddingMobile">{{{this.name}}}</span>
                </a>
            </li>
        {{/each}}
        </ul>
    </li>
</ul>